.chatlist-header-title {
    float: left;
    color: white;
    font-weight: 800;
    font-size: 22px;
}

.chatlist-header-button {
    float: right;
    margin-right: 12px;
    height: 40px;
    width: fit-content;
    border-radius: 50%;
    padding: 0px 10px;
    border: 0px;
    cursor: pointer;
    background-color: #9a97fc;
}

.chatlist-header-icon {
    color: white;
    font-size: 20px;
    position: relative;
}

.chatlist-container {
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: #4a5162;
}

.chatlist-card-container {
    height: 8vh;
    padding-top: 10px;
    border-radius: 6px;
}

.chatlist-card-conatiner:hover {
    background-color: #404655;
}

.chatlist-card-time {
    color: hsla(0, 0%, 100%, 0.568);
    float: right;
    top: 10%;
    width: 15%;
    font-size: 10px;
    height: 50%;
    position: relative;
    overflow: hidden;
}

.chatlist-card-title {
    position: relative;
    float: left;
    color: white;
    width: 70%;
    height: 50%;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatlist-unread-number-container {
    position: relative;
    float: left;
    color: white;
    width: 10%;
    height: 50%;
    text-align: center;
}

.chatlist-unread-number {
    position: absolute;
    top: 0;
    right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #6e7688;
    border-radius: 10px;
    width: 80%;
    font-size: 11px;
    height: 70%;
}

.chatlist-card-message {
    position: relative;
    float: left;
    color: hsla(0, 0%, 100%, 0.568);
    width: 70%;
    height: 50%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatlist-card-image {
    position: relative;
    width: 15%;
    height: 100%;
    float: left;
}

.chatlist-card-icon {
    width: 85%;
    display: block;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.add-chat-form {
    float: left;
    padding: 12px;
}

.chat-text-input {
    height: 40px;
    color: white;
    padding: 0px 18px;
    outline: none;
    border: 0px;
    font-size: 15px;
    background-color: #404655;
    color: white;
    border-radius: 10px;
    width: 100%;
}