.chat-info-container-main {
    height: 100%
}

.info-container {
    position: relative;
    width: 100%;
}

.chat-info-container {
    height: 100%;
    width: 100%;
}

.participants-container {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 250px;
}

.participants-container::before {
    content: "";
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 5%;
    border-bottom: 3px solid white;
}

.chat-gallery {
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    padding-bottom: 10px;
    width: 100%;
}

.chat-gallery-main {
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.chat-info-main {
    position: relative;
    width: 100%;
}

.chat-info-main::before {
    content: "";
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 5%;
    border-bottom: 3px solid white;
}

.chat-avatar-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat-avatar-container .edit-avatar-button {
    visibility: hidden;
    position: absolute;
    top: 0;
}

.chat-avatar-container:hover .edit-avatar-button {
    visibility: visible;
    position: absolute;
    top: 0;
    margin-left: 5px;
}

.edit-avatar-icon {
    color: white;
    font-size: 14px;
    visibility: inherit;
    cursor: pointer;
}

.chat-info-title-container {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}

.chat-info-title {
    color: white;
    font-size: 16px;
    height: 90%;
    background-color: #4a5162;
    width: 95%;
    word-wrap: break-word;
    outline: none;
    border: 0px;
    text-align: center;
}

.chat-info-title:hover {
    background-color: #5d657a;
}

.chat-info-title-container .edit-title-button {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.chat-info-title-container:hover .edit-title-button {
    visibility: visible;
    background-color: transparent;
    position: absolute;
    right: 0;
    border: none;
}

.edit-title-icon {
    color: white;
    font-size: 14px;
    visibility: inherit;
    cursor: pointer;
}

.participant-container {
    width: 100%;
    height: 50px;
    flex: auto;
    flex-direction: column;
}

.participant-avatar-container {
    float: left;
    position: relative;
    height: 100%;
    width: 15%;
    text-align: center;
}

.participant-avatar {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
}

.participant-username-container {
    position: relative;
    float: left;
    height: 100%;
    width: 85%;
}

.participant-username {
    width: 100%;
    color: hsl(0, 1%, 80%);
}

.info-section {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}

.info-section-title {
    color: white;
    font-size: 18px;
}

.info-section-button {
    background-color: transparent;
}

.info-section-icon {
    color: white;
}