.chat-feed-message-sender {
    width: 100%;
    float: left;
    top: 0;
    font-weight: 600;
}

.chat-container {
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #4a5162;
    width: 50%;
}

.chat-feed {
    margin-bottom: 70px;
    overflow-y: auto;
    background-color: #4a5162
}

.chat-title-container {
    width: calc(100%);
    padding: 18px;
    text-align: center;
}

.chat-title {
    color: white;
    font-weight: 800;
    font-size: 24px;
}

.message-row {
    float: left;
    width: 100%;
    display: flex;
}

.message-block {
    width: 100%;
    display: inline-block;
}

.message-form-container {
    position: absolute;
    bottom: 0px;
    width: calc(100%);
    border-top: 1px solid #404655;
    padding: 14px;
    background-color: #4a5162
}

.chat-feed-new-date {
    text-align: center;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: hsla(0, 0%, 100%, 0.568);
    background-color: #404655;
    border-radius: 6px;
    width: fit-content;
    margin: 0 auto;
}

.their-message-time {
    right: 0;
    bottom: 0;
    color: hsla(0, 1%, 17%, 0.864);
    font-size: 10px;
}

.my-message-time {
    right: 0;
    bottom: 0;
    color: hsla(0, 0%, 100%, 0.568);
    font-size: 10px;
}

.message-avatar {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
}

.message-image {
    margin-right: 18px;
    object-fit: cover;
    border-radius: 6px;
    height: 30vw;
    /* width: 30vw; */
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
}

.message {
    margin-top: 5px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    max-width: 60%;
}