.message-form {
    position: relative;
    background-color: #4a5162;
    border-top: 1px solid #404655;
    padding-top: 14px;
    padding-bottom: 14px;
}

.message-input {
    overflow-y: auto;
    word-wrap: break-word;
    resize: none;
    min-height: 30px;
    max-height: 300px;
    width: calc(100% - 150px);
    background-color: #4a5162;
    color: white;
    padding: 0px 12px;
    outline: none;
    border: 0px;
    font-size: 15px;
}

.emoji-picker {
    bottom: 70px;
    position: absolute;
}

.image-button {
    cursor: pointer;
    padding: 0px 12px;
    height: 100%;
}

.send-button {
    height: 40px;
    border-radius: 50%;
    padding: 0px 13px;
    border: 0px;
    cursor: pointer;
    background-color: #9a97fc;
}

.send-icon {
    color: white;
    font-size: 20px;
    position: relative;
    transform: rotate(-25deg);
}

.picture-icon {
    color: white;
    position: relative;
    font-size: 16px;
}

.emoji-button {
    cursor: pointer;
    background-color: #4a5162;
    border: 0px;
}

.emoji-icon {
    color: white;
    font-size: 20px;
}